@import '../App.css';

.acc-container {
  width: 60vw;
  background-color: white;
  margin: 10px auto;
}



/* Form */
form {
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
}

form > div {
  display: flex;
  justify-content: center;
}


/* Name Container */
.name-container {
  display: flex;
  justify-content: center;
  gap: 28px;
}


.name-container > div {
  flex: 1;
}

.name-container, .email-container {
  font-size: 20px;
  padding: 20px;
}

.name-container p, .email-container p {
  margin: 1 0;
  padding: 6px;
  width: 236px;
}

.name-container input, .email-container input {
  font-size: 20px;
  text-align: center;
  background-color: var(--blue-light);
  padding: 6px;
  border: none;
  border-radius: 60px;
}



/* Button Container */
.acc-btn-container {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.acc-btn-container > div {
  flex: 1;
}

.acc-btn-container > div:last-child {
  display: flex;
  justify-content: flex-end;
}

.acc-btn{
  width: 120px;
  height: 30px;
  font-size: 16px;
}

.btn-cancel {
  background-color: #b84343;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.btn-cancel:hover {
  background-color: #172d72;
}

#btn-update {
  margin: auto;
}


/* Orders List */
.acc-container {
  padding-top: 30px;
}

.account-order-container > ul {
  margin: 0;
  padding: 0;
}

.acc-order-container {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  cursor: pointer;
}

.account-order-container > ul > li {
  border-bottom: 1px solid black;
}

.account-order-container > ul > li:last-child {
  border-bottom: none;
}


/* Responsive Styles */
@media screen and (max-width: 1380px) {
  .acc-container {
    width: 80vw;
  }
}

@media screen and (max-width: 1064px) {
  form > div {
    flex-direction: column;
  }

  .name-container > div,
  .email-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 700px) {
  .name-container {
    flex-direction: column;
  }

  .email-container {
    padding-top: 10px;
  }

  .acc-btn-container {
    flex-direction: column;
  }
  
  .acc-btn-container > div:last-child {
    justify-content: center;
    padding-top: 20px;
  }



}

@media screen and (max-width: 500px) {
  .acc-container {
    width: 90vw;
  }
}

@media screen and (max-width: 412px) {
  .acc-order-container {
    flex-direction: column;
    gap: 8px;
  }
}