@import '../App.css';

img {
  width: 200px;
}

.cart-container ul {
  padding: 0;
  margin: 0;
}

.cart-container li {
  padding: 0;
  margin: 20px 0;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}



/* Cart Item List and Details */
.cart-item-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item-container {
  background-color: white;
  display: flex;
}

.cart-item-image {
  padding: 15px;
}

.cart-item-details {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}


/* Reset maring to 0 for heading and paragraphs */
h2, p {
  margin: 0;
}


.cart-item-details > div:nth-child(1) {
  display: flex;
}

.cart-item-details > div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.cart-item-details > div:nth-child(3) {
  display: flex;
  align-items: flex-end;
}

.cart-item-details > div:nth-child(4) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart-item-details > div {
  padding: 18px;
}

.cart-item-price-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-item-details .cart-price {
  font-size: 36px;
}

.cart-item-details .cart-price-per-item {
  font-size: 14px;
}


.qty-container {
  display: flex;
  gap: 1px;
}

.qty-container > div:nth-child(2) {
  background-color: var(--blue);
  opacity: .8;
  color: white;
  border: none;
}

.qty-section {
  border: 1px solid white;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.cart-item-details .remove-item-btn {
  height: 30px;
}




/* Cart Details */
.cart-details-container {
  margin-top: 18px;
  background-color: white;
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.remove-item-btn,
.btn-empty-cart {
  width: 100px;
  height: 30px;
}


/* Cart Details / Total */
.cart-total p, 
.cart-total .price-total{
  font-size: 30px;
}

.btn-checkout {
  width: 150px;
  height: 50px;
  font-size: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .cart-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 0;
  }

  .cart-details-container {
    /* width: 90%; */
    width: 770px;
    height: 180px;
  }

  .cart-details-container,
  .cart-item-list-container {
    margin: 0 20px;
  }
}

@media screen and (max-width: 600px) {

  .cart-details-container,
  .cart-item-list-container,
  .cart-item-list-container > ul
   {
    width: 95vw;
    margin: auto;
  }
  .cart-item-container {
    flex-direction: column;
  }

  .cart-item-details .cart-price {
    font-size: 28px;
  }
}