@import '../App.css';

.home-container {
  justify-content: space-evenly;
}

.welcome {
  margin-bottom: 100px;
}

.view-all {
  font-size: 20px;
  color: var(--blue-dark);
  text-decoration: none;
}


.new-product-list {
  display: flex;
  justify-content: center;
}

.new-product-list ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}