@import '../App.css';

/* Header Styles */
header {
  background-color: #77777c;
  font-size: 28px;
}

.head-top {
  height:  60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}



.account-button-container {
  display: flex;
}

.account-button-container button {
  width: 100px;
  height: 40px;
  border-radius: 60px;
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
}

.account-button-container button:hover {
  background-color: var(--blue-dark);
  color: white;
  cursor: pointer;
}

.account-button-container .sign-up-button {
  width: 150px;
  background-color: var(--blue-light);
  color: black;
  /* border: 1px solid red; */
  position: relative;
  left: -70px;
  z-index: 0;
  padding-left: 60px;
  /* text-align: right; */
}

.account-button-container .sign-in-button {
  z-index: 10;
}




/* Cart Button */
.cart-button-container {
  position: fixed;
  right: 100px;
  top: 50px;
}

.cart-button-container button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #393963;
  color: white;
  box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.cart-button-container button:hover {
  background-color: var(--blue);
}