@import '../App.css';

/* Header Styles */
header {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.head-top {
  height:  60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-bottom {
  display: flex;
}


@media screen and (min-width: 880px) {
header {
  display: flex;
  justify-content: space-between;
}

.head-top {
  width: 20%;
}

.head-bottom {
  margin-right: 4%;
  display: flex;
  align-items: center;
}

.link {
  margin-right: 50px;
}

.account-btn-container {
  display: flex;
}

.account-btn-container button {
  width: 100px;
  height: 40px;
  border-radius: 60px;
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 16px;
}

.account-btn-container button:hover {
  background-color: var(--blue-dark);
  color: white;
  cursor: pointer;
}

.account-btn-container .sign-up-button {
  width: 150px;
  background-color: var(--blue-light);
  color: black;
  position: relative;
  left: -70px;
  z-index: 0;
  padding-left: 60px;
}

.account-btn-container .sign-in-button {
  z-index: 10;
}


/* Cart Button */
.cart-button-container {
  position: fixed;
  right: 3%;
  top: 50px;
}

.cart-button-container button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #393963;
  color: white;
  box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.cart-button-container button:hover {
  background-color: var(--blue);
}
}



@media screen and (max-width: 880px) {
  .head-bottom,
  .head-bottom button,
  .head-bottom .link {
    background-color: var(--blue);
    color: white;
  }

  .account-btn-container button,
  .cart-button-container button {
    border: none;
    background: none;
    font-size: 26px;
    cursor: pointer;
  }

  .head-bottom .slash::before {
    content: '/'
  }

  .head-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
}