.App {
  text-align: center;
}

body {
  background-color: #e0e0e0;
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
}

/* Hover Effect */
.hover-grow {
  transform-origin: center;
  transition: all 0.2s;
}

.hover-grow:hover {
  transform: scale(1.08);
  transition: all 0.3s;
  cursor: pointer;
}



/* Header Styles */
header {
  background-color: #77777c;
  font-size: 28px;
}

.head-top {
  height:  60px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}



.account-button-container {
  /* border: 1px solid red; */
  display: flex;
}

.account-button-container button {
  width: 100px;
  height: 40px;
  border-radius: 60px;
  border: none;
  background-color: #4e6abf;
  color: white;
  font-size: 16px;
}

.account-button-container button:hover {
  background-color: #172d72;
  color: white;
  cursor: pointer;
}

.account-button-container .sign-up-button {
  width: 150px;
  background-color: #9ea5b9;
  color: black;
  /* border: 1px solid red; */
  position: relative;
  left: -70px;
  z-index: 0;
  padding-left: 60px;
  /* text-align: right; */
}

.account-button-container .sign-in-button {
  z-index: 10;
}




/* Cart Button */
.cart-button-container {
  position: fixed;
  right: 100px;
  top: 50px;
}

.cart-button-container button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: none;
  background-color: #393963;
  color: white;
  box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.cart-button-container button:hover {
  background-color: #4e6abf;
}



/* Product List Styles */
.product-list {
  margin: 80px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
}



/* Product Card Styles */
.product-card {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  border-radius: 10px;
  box-shadow: 2px 5px 12px 2px gray;
  cursor: pointer;
  height: 100%;
}

.product-card-img-container {
  padding-top: 10px;
  margin-top: 10px;
}

.product-card-details {
  /* border: 1px solid blue; */
  background-color: #77777c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 28px;
}

.product-card-details:hover {
  background-color: green;
}

.price {
  font-size: 22px;
}

.product-img {
  width: 300px;
}




/* Product Details Page Styles */
.product-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  /* align-items: center; */
}

.product-container img {
  /* border: 1px solid blue; */
  background-color: white;
  padding: 50px;
  width: 500px;
}

.product-details {
  background: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.product-details h2 {
  font-size: 28px;
}

.product-price {
  font-size: 38px;
  font-weight: 700;
  color: green;
}

.add-cart-btn {
  width: 150px;
  margin: auto;
  padding: 10px 18px;
  border: 1px solid black;
  border-radius: 2px;
}

.add-cart-btn button {
  padding: 5px 8px;
  width: 50px;
  margin-left: 10px;
  background-color: #4e6abf;
  color: white;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 800;
  border: none;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.add-cart-btn button:hover {
  background-color: #172d72;
}

/* .add-cart-btn:hover {
  background-color: #9ea5b9
} */