/* * {
  margin: 0;
  padding: 0;
} */
* {
  --blue: #4e6abf;
  --blue-light: #9ea5b9;
  --blue-dark: #172d72;
}

.App {
  text-align: center;
}

body {
  background-color: #e0e0e0;
  color: var(--blue-dark)
}

ul {
  list-style: none;
}

li {
  padding-bottom: 10px;
}

/* Hover Effect */
.hover-grow {
  transform-origin: center;
  transition: all 0.2s;
}

.hover-grow:hover {
  transform: scale(1.08);
  transition: all 0.3s;
  cursor: pointer;
}

.btn-blue {
  background-color: #4e6abf;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #172d72;
}