.App {
  text-align: center;
}



/* Header Styles */
header {
  background-color: gray;
  font-size: 28px;
}

.head-top {
  height:  60px;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.head-top div {
  /* border: 1px solid blue; */
}

.cart-button-container {
  position: fixed;
  right: 150px;
}

.cart-button-container button {
  width: 80px;
  height: 50px;
  border-radius: 0 0 8px 20px;
}
